
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    padding: 10px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  

  .carousel {
    width: 100%;
    overflow: hidden;
  }
  
  .carousel img {
    width: 100%;
    height: auto;
  }
  
  .about {
    padding: 20px;
    display: flex;
    justify-content: space-between;
  }
  
  .column {
    flex: 1;
    margin: 0 10px;
  }
  
  @media (max-width: 768px) {
    nav ul li {
      display: block;
      margin: 10px 0;
    }
  
    .dropdown {
      position: static;
    }
  
    .dropdown-content {
      position: static;
      display: none;
      margin-top: 10px;
    }
  }
  